.user-show {
  text-align: center;
  }

.user {
    margin-bottom: 20px;
    display: flex;

    img {
      width: 80px;
      height: 80px;
      border-radius: 40%;
      box-shadow: 0 2px 6px #c1ced7;
      margin: 20px 0 10px;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      height: 30px;
    }

    p {
      font-size: 13px;
      margin-bottom: 15px;
      text-align: left;
    }

    a {
      color: #8899a6;
      text-decoration: underline;
      font-weight: 200;
    }
  }

  .user-tabs {
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    text-align: center;
    display: flex;
    
    scroll-snap-type: x proximity;
    overflow: auto;

  

    a {
      display: inline-block;
      padding: 16px 30px;
      color: #afb6bf;

      &.active {
        border-bottom: 2px solid #3e43cd;
        color: #57575f;
      }
    }
    li{
      white-space: nowrap;
    }
  }

 

  .user-right{
    padding: 15px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: start;

  }

  .user-follows{
    padding: 10px;
    display: flex;

    li{
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
     }
  
  }
  

   .user-right{
    margin: 25px 5px;

    *{
      text-align: right;
    }
  }
  .user-bottom{
    display: flex;
    justify-content: end;
    margin-left: auto;
    *{
      padding: 5px;
    }
  }

  .user-item{
    display: flex;
    padding: 10px;
    box-shadow: 0 2px 6px #c1ced7;
    img{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
    }

    h2{
      flex: auto;
      padding-left: 15px;
      text-align: left;
    }
  }
  