<div class="main">
    <div class="container">
        <div class="login-form">
            <div>ログイン画面</div>
            <%= form_tag("/login") do %>
                <div>メールアドレス</div>
                <input name="email">
                <div>パスワード</div>
                <input name="password" type="password">
                <input type="submit" value="ログイン">
            <% end %>
        </div>
    </div>
</div>
